.monaco-editor-container {
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#kql-sql-editor {
    height: 100%;
}
.executed-statement-highlight {
    background-color: rgba(0, 120, 212, 0.1);
}
